/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main Styles */
body {
  background: #000;
  padding: 20px;
  font-family: "Hack", monospace;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

a {
  color: #49a2c5;
  text-decoration: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 600px;
  margin: 0 auto;
}

.content {
  /* Add styles if necessary */
}

.content p {
  font-family: "Hack", monospace;
  font-size: 12px;
  color: #fff;
}

.text {
  position: relative;
  display: inline-block;
  line-height: 18px;
}

.text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 8px;
  height: 18px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Media Queries */
@media all and (min-width: 480px) and (max-width: 768px) {
  .logo img {
    width: 350px;
  }
}

@media all and (max-width: 480px) {
  .logo img {
    width: 350px;
  }
}
