body {
  background: url(images/logo.png) center center #000;
  padding: 20px;
  font-family: 'Hack', monospace;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

a {
  color: #61d4e9;
}

p {
  font-family: 'Hack', monospace;
  font-size: 12px;
  color: #fff;
}

.logo {
  max-width: 600px;
  width: auto;
}