body {
  background: #fff;
  padding: 20px;
  font-family: monospace;
  font-size: 9px;
}

#logo {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 9px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 600px;
}
